@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.App {
  text-align: center;
}

/*HOME PAGE CSS*/
a {
  text-decoration: none;
  color: #fd5c6399;
  font-size: 25px;
}

a:hover {
  color: #fd5c63;
  text-shadow: 1px 1px 1px #fff;
}

.header {
  background-color: #2f2f2f03;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 2%;
  box-shadow: 0px 2.5px 15px #00000030;
}

#tagline{
  display: flex;
  justify-content: center;
  padding-right: 0px;
  margin-right: 0px;
  padding-top: 0px;
  margin-top: 0px;
  padding-bottom: 25px;
  color: #fd5c63;
}

h1 {
  font-family: "Poppins";
  font-size: 50px;
  font-weight: 900;
  padding-bottom: 10px;
  color: #fd5c63;
}

p {
  font-family: "Poppins";
  font-size: 25px;
  font-weight: 900;
  opacity: 80%;
  padding-top: 2%;
  padding-right: 5%;
}

#right-menu ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #00000050;
  list-style-type: none;
  font-family: "poppins";
  font-size: 20px;
  padding-right:10px;
}

.active {
  color:#fd5c63;
}

#right-menu li {
  padding-right: 25px;
  text-decoration: none;
}

#littledash {
  width: 150px;
  background-color: #fd5c63;
  height: 3px;
}

.Firstpara {
  padding-left: 70px;
  padding-top: 1%;
  text-align: left;
  padding-right: 70px;
}

#big-img{
  width: 90vw;
  max-height: auto;
  padding-top: 25px;
  padding-right: 0px;
}

.Firstpara h3 {
  color: #fd5c63;
  display: block;
  padding-top: 2%;
  font-family: "Poppins";
  font-size: 35px;
  font-weight: 900;
}

.Firstpara p {
  display: block;
  font-size: 20px;
  text-align: justify;
}

h3 {
  color: #fd5c63;
  display: block;
  padding-top: 2%;
  font-family: "Poppins";
  font-size: 35px;
  font-weight: 900;
}

.maincard {
  display: flex;
  margin-top: 0px;
}

#worldclass {
  padding-left: 70px;
  display: block;
}

#worldclass h3 {
  display: flex;
  align-items: left;
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  place-items: center;
  width: 25%;
  margin-top: 5%;
  margin-left: 5%;
  background-color: #2f2f2f03;
  box-shadow: 0px 2px 15px #00000030;
  border-radius: 5%;
  margin-left: 0px;
  margin-right: 25px;
}

.card img {
  width: 300px;
  height: 195px;
  padding-top: 3%;
  border-radius: 25px;
  margin-bottom: 0px;
}

span {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  align-self: center;
}

#star {
  width: 40px;
  height: 40px;
  padding-top: 0px;
  margin-top: 0px;
}

span h4 {
  display: inline;
  font-family: "poppins";
  font-size: 30px;
  margin-top: 5px;
  margin-bottom: 0px;
}

.card h3 {
  color: #fd5c63;
  font-family: "Poppins";
  font-size: 35px;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 0px;
}

.card p {
  font-size: 18px;
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
  padding-bottom: 35px;
}

#card-slide {
  display: flex;
  flex-direction: row;
}

/*VISIT PAGE CSS*/

#visit-big-img{
  width: 50vw;
}
